* {
    box-sizing: border-box;
}

:root {
    --color: #1e293b;
    --c1: #fbda61;
    --c2: #ff5acd;
    --c3: #2563eb;
    --gradient: linear-gradient(
      60deg,
      var(--c3),
      var(--c2),
      var(--c1),
      var(--c2),
      var(--c3)
    );
    --scale-start: 0.5;
    --scale-end: 1.001;
    --hover-offset: 5%;
    --ease-elastic: linear(
      0, 0.186 2.1%, 0.778 7.2%, 1.027 9.7%, 1.133, 1.212, 1.264, 1.292 15.4%,
      1.296, 1.294, 1.285, 1.269 18.9%, 1.219 20.9%, 1.062 25.8%, 0.995 28.3%,
      0.944 31.1%, 0.93, 0.921, 0.92 35.7%, 0.926, 0.94 39.7%, 1.001 47%, 1.014,
      1.021 52.4%, 1.02 56.4%, 1 65.5%, 0.994 70.7%, 1.001 88.4%, 1
    );
    --ease-bounce-out: cubic-bezier(0.34, 1.56, 0.64, 1);
}

body {
    padding-inline: 1rem;
    font-family: system-ui;
    font-weight: 680;
    font-size: calc(1rem + 10vmin);
    text-align: center;
    overflow-x: hidden;
}

.intro {
    display: flex;
    justify-content: center;
    gap: 0.2em;
    font-size: 0.5em;
    margin-block-start: calc(50vh - 1ex);
}

.intro span {
    display: inline-block;
}

.intro span:first-child {
    transform-origin: right bottom;
    -webkit-transform-origin: right bottom; /* Safari */
    animation: wave 250ms 1s ease 3;
}

.intro span:last-child {
    animation: hover 500ms linear infinite;
}

.box {
    margin-block: 80vh;
}

.text {
    margin-inline: auto;
    padding-block: 0.2em;
    max-inline-size: 15ch;
    background-image: var(--gradient);
    background-size: 400%;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    animation: pop-back 300ms var(--ease-bounce-out) forwards;
}

.big-button {
    width: 10em;
    margin-inline: auto;
    overflow: hidden;
    white-space: nowrap;
    margin-block-end: calc(50vh - 1ex);

    font-size: 30px;
    padding: 40px 60px;
    background-color: #c659a5;
    color: rgb(222, 220, 221);
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin-left: 25px; /* Adjust the margin as needed */
}

@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes pop {
    from {
        -webkit-transform: scale(var(--scale-start)); /* Safari */
        transform: scale(var(--scale-start));
    }
    to {
        -webkit-transform: scale(var(--scale-end)); /* Safari */
        transform: scale(var(--scale-end));
    }
}

@keyframes pop-back {
    from {
        -webkit-transform: scale(var(--scale-end)); /* Safari */
        transform: scale(var(--scale-end));
    }
    to {
        color: var(--color);
        -webkit-transform: scale(var(--scale-start)); /* Safari */
        transform: scale(var(--scale-start));
    }
}

@keyframes wave {
    50% {
        -webkit-transform: rotate(10deg); /* Safari */
        transform: rotate(10deg);
    }
}

@keyframes hover {
    from,
    to {
        -webkit-transform: translate(0, calc(var(--hover-offset) * -1)); /* Safari */
        transform: translate(0, calc(var(--hover-offset) * -1));
    }
    50% {
        -webkit-transform: translate(0, var(--hover-offset)); /* Safari */
        transform: translate(0, var(--hover-offset));
    }
}
