.big-button {
    width: 5em;
    margin-inline: auto;
    overflow: hidden;
    white-space: nowrap;
    margin-block-end: calc(50vh - 1ex);

    font-size: 20px;
    padding: 10px 15px;
    background-color: #f06fca;
    color: rgb(222, 220, 221);
    border: none;
    border-radius: 30px;
    cursor: pointer;
    margin-left: 30px; /* Adjust the margin as needed */
}
