@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://codepen.io/GreenSock/pen/7ba936b34824fefdccfe2c6d9f0b740b.css');


body {
    margin: 0;
    background: #0d0d0d;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  
  body::-webkit-scrollbar {
    display: none; /* Chrome, Safari and Opera */
  }
  
  section {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
  }
  
  .iphone {
    position: absolute;
    height: 600px;
  }
  
  .widgets {
    position: absolute;
    z-index: -1;
    scale: 0;
  }
  
  #socials {
    background: linear-gradient(#ff348b, #e30217);
    border-radius: 30px;
    aspect-ratio: 1;
    height: 140px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
  }
  
  a {
    text-decoration: none;
    font-size: 30px;
    font-family: sans-serif;
    background-color: white;
    aspect-ratio: 1;
    height: 50px;
    border-radius: 100%;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
  }

h1 {
    color:#fff;
  }

@media screen and (max-height: 800px) {
    .iphone {
      width: 270px;
      height: 360px;
    }

    
  }
  
