@import url('https://codepen.io/GreenSock/pen/7ba936b34824fefdccfe2c6d9f0b740b.css');


body {
    overscroll-behavior: none;
    height: 100vh;}
  
.container {
    overscroll-behavior: none;
    color:cadetblue;
    width: 600%;
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
  }
  .panel {
    display: flex; /* 使用 Flexbox 布局 */
    align-items: center; /* 垂直居中对齐 */
  }
  .panel {
    display: flex;
    align-items: center;
  }
  
  .panel-img {
    width: 200px; /* 设置图片宽度 */
    height: auto; /* 让高度自适应，保持原始比例 */
    margin-right: 60px; /* 图片与文字之间的间距 */
  }
  
  .panel-text {
    flex: 1;
    text-align: center; /* 文字居中对齐 */
  }
  
  
  .panel-img {
    margin-right: 60px; /* 图片与文字之间的间距 */
  }
  
  .panel-text {
    flex: 1; /* 填充剩余空间，使文字占据右侧 */
  }
  
  .panel-img {
    left:200px;
    width: 400px; /* 设置图片宽度 */
    height: auto; /* 让高度自适应，保持原始比例 */
  }


  .panel-text a{
    font-size: 20px;
    color:white;
    text-decoration: none; 
    
  }
  

  @media screen and (max-width: 768px) {


    .panel-img{
        width: 230px;
        height:auto;
        right:50%;
        /*transform: translateX(+50%);*/
        margin-right: 20px; /* 图片与文字之间的间距 */
    }
  }

  